body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 14px;
    background-image: url('https://i.imgur.com/K8Os6io.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.text-titolo {
    color: white;
}

#genWikiCode {
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    float: left;
    clear: left;
    margin-right: 10px;
}

    #genWikiCode:hover {
        background-color: #0056b3;
    }

#copyButton {
    background-color: darkblue;
    /* Colore del testo all'interno del pulsante */
    color: #fff;
    /* Spaziatura interna del pulsante (10px sopra e sotto, 20px a sinistra e destra) */
    padding: 10px 20px;
    /* Rimuove il bordo del pulsante */
    border: none;
    /* Angoli arrotondati del pulsante */
    border-radius: 4px;
    /* Cambia l'icona del cursore al passaggio sopra il pulsante */
    cursor: pointer;
    /* Effetto di transizione del colore di sfondo in 0.3 secondi */
    transition: background-color 0.3s;
    /* Posiziona l'elemento a sinistra rispetto agli elementi successivi */
    float: left;
    /* Cancella il float a sinistra per evitare l'interferenza con gli elementi successivi */
    clear: left;
    /* Margine a destra dell'elemento (10px di spazio a destra) */
    margin-right: 10px;
}

    #copyButton:hover {
        background-color: #0056b3;
    }

    #copyButton:active {
        background-color: #1f6dab;
    }

#pokemon-form {
    width: auto;
    margin: auto;
}

.containerTOP2, .containerTOP {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
}

input[type="text"] {
    margin-top: 5px;
}

#wikicode-result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    clear: both;
    animation: rainbow 5s linear infinite;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    border: 1px solid;
}

    .container > div {
        flex-basis: 48%;
    }

label {
    display: inline-block;
    width: 150px;
    color: yellow;
    position: relative;
    text-transform: capitalize;
    font-weight: bold;
}

input {
    display: inline-block;
    width: 200px;
}

table {
    background: url('https://i.imgur.com/E42O3Su.jpeg');
    background-size: cover;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    margin: 0;
    border-spacing: 0;
}

tr {
    border: 2px solid black;
    padding: 0;
}

th, td {
    padding: 10px;
    border: 2px solid black;
}

*:not(label) {
    color: black;
}

#VecchiaParola {
    border: 2px solid black;
    background-color: #f0f0f0;
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 6px;
    margin-left: auto;
}

#DizionarioVeloce {
    border: 1px solid black;
    background-color: #f7dc6f;
    font-size: 18px;
    color: #2c3e50;
    font-weight: normal;
    border-radius: 10px;
    display: inline-block;
    padding: 4px 6px;
    margin-top: 6px;
    margin-left: auto;
}

.button-container {
    text-align: center;
}

    .button-container button {
        display: inline-block;
        margin-right: 10px;
        background-color: #d9534f;
        color: #fff;
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-right: 10px;
    }

        .button-container button:hover {
            background-color: #c9302c;
        }

        .button-container button:active {
            background-color: #ac2925;
        }

#wikicode-result {
    color: #333;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}